body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.d-none{
  opacity:0;
}

.ca-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  right: 30px;
}

.ca-whatsapp > a {
  color: white;
}

.icon-wp {
  position: relative;
  top: 5px;
  left: 1.25px;
}

.style-background-alt-img {
  position: fixed;
  height: 50px;
  bottom: -5px;
  z-index: 100;
  right: 20px;
}

.atl-img {
  width: 15rem;
  position: absolute;
  bottom: -10px;
  right: -5px;
}


.iteminfomarkerwhatsapp{

  width: 40px;
  height: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;

}

.iteminfomarkerwhatsapp > a {
  color: white;
}