.registro_error {
  border: 1px solid red;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.div-imagen {
  width: 28vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.style-imagen {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.registro {
  border: 1px solid rgba(180, 180, 180, 1);
  padding: 4px;
  border-radius: 20px;
  line-height: 1.5rem;
  width: 50%;
  text-align: center;
  margin: 2px auto;
}

@media (max-width: 1300px) {
  .inputs-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
